<!DOCTYPE html>
<html>
<head>
  <title>SnapShot</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/dist/css/style.min.css" />
</head>
  <body id="top">
    <div id="root"></div>


    <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyCxaTHcN05JsAAmAT8qvRbOj98Lcy3h1qw"></script>
    
    <script src="/dist/js/vendor.min.js"></script>
    <script type="text/javascript" src="/dist/bundle.js"></script>
  </body>
</html>
